.App {
  text-align: center;
}

h2,
li {
  color: #fff;
}

.background-image {
  height: 2000px;
  background-image: url(https://content.codecademy.com/programs/react/jammming/background_photo_desktop.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: #030c6ba1;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}